.player-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
}

.player-list li{
  border: 1px solid #555;
  border-radius: 8px;
  padding: 12px;
}